<h1>Password Generator</h1>
<div>
<label>Enter Length</label>
<input/>
</div>
<div>
  <label>Use Letter</label>
  <input (change)="onChangeUseLetters()" type="checkbox"/>
</div>
<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox"/>
</div>
<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox"/>
</div>
<button (click)="OnButtonClick()">Generate!</button>
<div>
  <label>Your Password</label>
  <input [value]="password"/>
</div>